div.list-group-item.container-fluid
    p Your new registration code is: 
        spanspan(data-hook="code")
    p Could you possibly use the above registration code to register for your correct class section while we're on chat so I can be sure you're all set?