div.list-group-item.container-fluid
    p Code: 
        span(data-hook="code")
    p Date: 
        span(data-hook="date")
    p Representative: 
        span(data-hook="representative")
    p Chat / Ticket: 
        span(data-hook="chatOrTicket")
    p Customer's Name: 
        span(data-hook="customerName")
    p Customer's Email: 
        span(data-hook="customerEmail")
    p University Or Business: 
        span(data-hook="universityOrBusiness")

