section.page.home
  h2 Tell me what you're looking for...

  label
    input.form-input
    span(data-hook~=label)
    div(data-hook~=message-container).message.message-below.message-error
        p(data-hook~=message-text)