section.page.pageThree
    h2 Tell me what you're looking for...
    label
        input(data-hook="input").form-input
        span(data-hook~="label")
        div(data-hook~=message-container).message.message-below.message-error
            p(data-hook~="message-text")
    ul.list-group(data-hook="products-list")
