section.page.pageThree
    h2 Products Test Page
    label
        input(data-hook~=search).form-input
        span(data-hook~=label)
        div(data-hook~=message-container).message.message-below.message-error
            p(data-hook~=message-text)
    ul.list-group(data-hook="products-list")
