section.page.request-code

  h2 Request Code

  p This form and all behavior is defined by the form view in <code>client/forms/studentForm.js</code>.

  form(data-hook="person-form")
    fieldset(data-hook="field-container")
    .buttons
      button.btn(data-hook="reset", type="submit") Submit
