section.page.request-code
  div.prompt
  h4 Add Codes: 
    h4(data-hook="title")
  div.btn-group.btn-group-lg.btn-group-justified(role="group" aria-label="Justified button group") 
    div.btn-group(role="group")
        button.btn.btn-default.viewCodes View Codes
            span.label.label-primary.pull-left Alt + Q
    div.btn-group(role="group")
        button.btn.btn-default.addCodes Product Page
            span.label.label-primary.pull-left Alt + W
    div.btn-group(role="group") 
        button.btn.btn-default.editProduct Edit Product
            span.label.label-primary.pull-left Alt + E

  form(data-hook="addCodesForm")
    fieldset(data-hook="field-container")
    .buttons
      button.btn(data-hook="reset", type="submit") Add Codes
