section.page.add-product

    h4 Add a New Product
    form(data-hook="add-product-form")
      fieldset(data-hook="field-container")
      .buttons
        button.btn(data-hook="reset", type="submit") Submit
