section.page.edit-product
  div.prompt
  h4 Edit Product: 
    h4(data-hook="title")
  div.btn-group.btn-group-lg.btn-group-justified(role="group" aria-label="Justified button group") 
    div.btn-group(role="group")
        button.btn.btn-default.productPage Product Page 
            span.label.label-primary.pull-left Alt + 1
    div.btn-group(role="group") 
        button.btn.btn-default.editProduct Edit Product
            span.label.label-primary.pull-left Alt + 2
    div.btn-group(role="group")
        button.btn.btn-default.addCodes Add Codes
            span.label.label-primary.pull-left Alt + 3

  form(data-hook="add-product-form")
    fieldset(data-hook="field-container")
    .buttons
      button.btn(data-hook="reset", type="submit") Submit
