section.page.edit-product
    div.prompt
    h4 Edit: 
    h4(data-hook="title")
    form(data-hook="add-product-form")
      fieldset(data-hook="field-container")
      .buttons
        button.btn(data-hook="reset", type="submit") Submit
