section.page.request-code

  h4 Add Codes for ...
    h4(data-hook="title")
    a.btn.btn-danger.navigateView View Codes

  form(data-hook="addCodesForm")
    fieldset(data-hook="field-container")
    .buttons
      button.btn(data-hook="reset", type="submit") Add Codes
