section.page.request-code

  h4 Add Codes for ...
    h4(data-hook="title")
    a.btn.btn-danger.pull-right.addButton Add
    a.btn.btn-danger.navigateView View Codes
  ul.list-group(data-hook="availableCodes-list")
