section.page.product-page
  div.prompt
  h4(data-hook="title")
  div.btn-group.btn-group-lg.btn-group-justified(role="group" aria-label="Justified button group") 
    div.btn-group(role="group")
        button.btn.btn-default.viewCodes View Codes
            span.label.label-primary.pull-left Q
    div.btn-group(role="group")
        button.btn.btn-default.addCodes Add Codes
            span.label.label-primary.pull-left W
    div.btn-group(role="group") 
        button.btn.btn-default.editProduct Edit Product
            span.label.label-primary.pull-left E
        

  p FANCY DATA TO COME
