section.page.request-code

  h4 Request Code for
    h4(data-hook="title")

  p This form and all behavior is defined by the form view in <code>client/forms/studentForm.js</code>.

  form(data-hook="product-form")
    fieldset(data-hook="field-container")
    .buttons
      button.btn(data-hook="reset", type="submit") Submit
