section.page.request-code
  div.prompt
  h4 Available Codes: 
    h4(data-hook="title")
  div.btn-group.btn-group-lg.btn-group-justified(role="group" aria-label="Justified button group") 
    div.btn-group(role="group")
        button.btn.btn-default.viewCodes Product Page
            span.label.label-primary.pull-left Alt + 1
    div.btn-group(role="group")
        button.btn.btn-default.addCodes Add Codes
            span.label.label-primary.pull-left Alt + 2
    div.btn-group(role="group") 
        button.btn.btn-default.editProduct Edit Product
            span.label.label-primary.pull-left Alt + 3

  ul.list-group(data-hook="availableCodes-list")

