li.code.list-group-item.container-fluid
  ul
    li
      a(data-hook="code")
    li
      a(data-hook="date")
    li
      a(data-hook="representative")
    li
      a(data-hook="chatOrTicket")
    li
      a(data-hook="customerName")
    li
      a(data-hook="customerEmail")
    li
      a(data-hook="university")

