li.product.list-group-item.container-fluid
  div(data-hook="title")
  div(data-hook="isbn13")
  span.btn-group.pull-right
    a.btn.btn-default.viewCodes View Codes
    a.btn.btn-danger.addCodes Add Codes
