section.page.request-code
  div.prompt
  h4 Request Code for
    h4(data-hook="title")
  form(data-hook="product-form")
    fieldset(data-hook="field-container")
    .buttons
      button.btn(data-hook="reset", type="submit") Submit
