body
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='/') Dispense Manager
        a.navbar-brand(data-hook="addProduct") Add New Product
      div.navbar-right
        button.btn.btn-primary(data-hook="feedback") Feedback
  .container
    main(data-hook="page-container")
