body
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='/') Dispense Manager
        a.navbar-brand(href='dispenseManager/addProduct') Add New Product
  .container
    main(data-hook="page-container")
